@import "./base.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #271c36;
  color: #fff;
}

.division {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inp {
  border: 1px solid blue;
  color: black;
  padding: 10px;
  width: 140%;
  border-radius: 5px;
  background: #efeaf4;
}

.botn {
  width: 50%;
  padding: 5px;
  margin-top: 5px;
  color: blue;
  border-radius: 10px;
  background-color: rgb(209, 207, 255);
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz {
  background-color: #382a4b;
  padding: 1rem;
  width: 100%;
  max-width: 640px;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quiz-info .question {
  color: #8f8f8f;
  font-size: 1.55rem;
}

.quiz-info .score {
  color: #fff;
  font-size: 1rem;
}

.options {
  margin-bottom: 1rem;
}

.option {
  display: block;
  padding: 1rem;
  background-color: #271c36;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: darkblue;
}

.option.correct {
  background-color: #2ce7dc;
}

.option.wrong {
  background-color: #ff5a5f;
}

.option:last-of-type {
  margin-bottom: 0;
}

.option.disabled {
  opacity: 0.5;
}

.option input {
  display: none;
}

.next {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem 1rem;
  color: black;
  background-color: #b9e7b3;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

button.disabled {
  opacity: 0.5;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-size: 1.5rem;
  text-align: center;
}
